/* cor de fundo*/

body{
    background-color: #BBA7A7;
}

/*principal*/
main{
   
    margin: 5%;
    border-radius: 40px;
    align-items: flex-start;
    
}

#login {

    width: 50%;
    background-color: #EEEEEE;
    padding-right: 115.5%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    
}

#arte{
   
    background-color: #5C1655;
    width: 100%;
    padding-left: 125%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-bottom: 5%;
    
    
    
}

/*botar os conteiners na mesma linha*/

.mesmalinha{
    display: inline-flex;
    width: 500px;
    height: 600px;
    
    
}