/* cor de fundo*/

body{
    background-color: #BBA7A7;
}

/*principal*/
main{
   
    margin: 5%;
    border-radius: 40px;
    align-items: flex-start;
    
}

#login {

    width: 50%;
    background-color: #EEEEEE;
    padding-right: 115.5%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: inline-flex;
    
}

#arte{
   
    background-color: #5C1655;
    width: 100%;
    padding-left: 30%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-bottom: 5%;
    
}

/*botar os conteiners na mesma linha*/

.mesmalinha{
    display: inline-flex;
    width: 500px;
    height: 700px;
     
}

/*Parte da arte*/

.desenho{
    width: 470px;
    height: 460px;
   display: flex;
   margin-top: 8%;
   margin-left: -15%;
  
}

.arteh1{
    font-family: 'Rammetto One';
    color: #EEEEEE;
    font-size: 3.5em;
    margin-left: -10%;
    marg
}

.arteh3{
    font-family: 'Gabriela';
    color: #EEEEEE;
    font-size: 2em;
    margin-left: -10%;
    margin-top: -5%;
}

/*Parte do login*/

.loginh1{
    font-family: 'Assistant';
    color: #37474F;
    font-size: 3.5em;
    
   

}

#dreams2{
    font-family: 'Assistant';
    color: #5C1655;
    font-size: 3.5em;
    font-weight: bold;

}

