/* cor de fundo*/

body{
    background-color: #BBA7A7;
}

/*principal*/
main{
    background-color: #EEEEEE;
    margin: 5%;
    padding: 20%;
     border-radius: 20%;
    
    
}

#login {
    width: 20%;
    height: 80%;
    background-color: red;
    padding:20%;
}

#arte{
    width: 20%;
    height: 80%;
    background-color: #5C1655;
}

/*botar os conteiners na mesma linha*/

.mesmalinha{
    display: inline-flex;
}